{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div class="row">
  <div class="col-sm-5">
     {{account.name}} History
  </div> 
 
</div>
<table class="table">
  <thead class="thead-dark">
    <tr> 
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
      <th scope="col">Balance</th>
      <th scope="col">Prev Balance</th>
     </tr>   
  </thead>  
  <tbody>
{% for transaction in account.transactions.all %}
    <tr>
      <td>{{transaction.date | date:'m-d-Y'}}</td>
      <td>{{transaction.description}}</td>
      <td>{{ transaction.amount | currency}}</td>
      <td>{{transaction.balance | currency}}</td>
      <td>{{transaction.prevbalance | currency}}</td>
      {% endfor %}
    </tr>
  </tbody>  
</table>  
{% endblock %}