{% extends 'base.html' %}


{% block content %}
  <div class="row">
    <div class="col-5">
      <h3> Accounts </h3>
    </div> 
    <div class="col">
      <a href="/accounts/new"> Add an Account </a> 
    </div>
  </div>
  <div class="row m-row justify-content-between">
      <div class="col-md-1"> 
        ID
      </div>
      <div class="col-md-2"> 
        ID
      </div>
      <div class="col-md-3"> 
        ID
       </div>
      <div class="col-md-4">
        Description
      </div>
      <div class="col-md-5">
        Balance
      </div>
      <div class="col-md-6">
        Rate
      </div>
    </div>
 

  {% for account in account %}
    <div class="account">
      <div class="row">
        <div class="col-1">  
        <a href="/accounts/{{account.id}}/delete">Delete</a>
        </div>
        <div class="col-2">  
        <a href="/accounts/{{account.id}}/edit">Edit</a>
        </div> 
        <div class="col-4">
          <a href="/accounts/{{account.id}}">{{account.name}}</a>
        </div>

     </div>
  {% endfor %}
{% endblock %}