{% extends 'base.html' %}
{% load filters %}
{% load static %}





{% block content %}
  <div class="row">
    <div class="col-sm-2">
       Accounts <a href="/accounts/new"><img src="{% static 'banking/images/plus.svg' %}" alt="add account"></a> 
    </div> 
    
  </div>
  <div class="row">
      <div class="col-sm-1"> 
      </div>
      <div class="col-sm-1"> 
      </div>
      <div class="col-sm-1"> 
        ID
       </div>
      <div class="col-sm-4">
        Description
      </div>
      <div class="col-sm-2">
        Balance
      </div>
      <div class="col-sm-1">
        Rate
      </div>
    </div>
 

  {% for account in account %}
   
  
    <div class="account">
      <div class="row">
        <div class="col-sm-1">  
        <a href="/accounts/{{account.id}}/delete">Delete</a>
        </div>
        <div class="col-sm-1">  
        <a href="/accounts/{{account.id}}/edit">Edit</a>
        </div> 
        <div class="col-sm-1 justify-content-center">  
          {{account.id}}
        </div>
        <div class="col-sm-4">
          <a href="/accounts/{{account.id}}">{{account.name}}</a>
        </div>
        <div class="col-sm-2">

          
          {% for balance in balance %}
             {% if balance.id == account.id %}
              {{balance.balance | currency}}
            {% else %}
              
            {% endif %}
          {% endfor %}

          <!-- {% if account.id == balance.id %}
            yes -->
            <!-- {{account_bal.balance | currency}} -->
           <!-- {% else %} 
            0
          {% endif %}

          {{account.id}} -->
          
         

        </div>
        <div class="col-sm-1">
          {{account.interest_rt}}
        </div>

     </div>
  {% endfor %}

{% endblock %}