{% extends 'base.html' %}
{% load filters %}
{% load mathfilters %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-5">
  <h2>{% now "F Y" %} Cashflow</h2>
  </div> 
</div>
<div class="row justify-content-center">
 
    <div class="col-sm-2"> 
      <a href="/cash_forecast/income"><button class="btn btn-success">Add Item</button></a>
     </div>
</div>

<div class="row justify-content-center">
    <div>
      {% for balance in balance %}
       {{balance.balance | currency}}
      {% endfor %}
     </div>  
</div>

  {% for cash_forecast in cash_forecast %}
 
  <div class="row justify-content-center">  
    <div class="col-sm-1">  
      <a href="/cash_forecast/{{cash_forecast.id}}/delete">Delete</a>
      </div>
      <div class="col-sm-1">  
      <a href="/cash_forecast/{{cash_forecast.id}}/edit">Edit</a>
      </div> 
    <div class="col-sm-2">
      
      {{ cash_forecast.Start_Dt | date:'m-d-Y'}}
    </div>
    <div class="col-sm-2">
      {{cash_forecast.Name}}
    </div>
    <div class="col-sm-2">
      {% if cash_forecast.Entry_Type == 'B' %}
          {{cash_forecast.Amount|mul:-1}}
      {% else %}
          {{cash_forecast.Amount}}

      {% endif %}
      
    </div>

  </div>  
  {% endfor %} 

 <div class="row justify-content-center">  
  <div class="col-sm-4">
        {% for balance in balance %}
      Ending Balance  {{balance.balance|add:cash|currency}}
        {% endfor %}
  
 </div>  
</div>

     

 
  

{% endblock %}

